@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
html{
    scroll-behavior: smooth;
}
/*barra de arriba de espacio*/
#espacio{
    display: flex;
    padding: 0.5% 0;
    background-color: #0F1035;
    align-items: center; /* eje y */
    line-height: 1;
    
}
#espacio img{
    transform: translateX(60px);
    width: 1rem;
    height: 1rem;
}
#espacio h5{
    font-size: 20px;
    padding: 0 5%;
    color: #fff;
    white-space: nowrap;
}
#correo{
    display: flex;
    padding: 0.5% 0;
    background-color: #0F1035;
    align-items: center; /* eje y */
    line-height: 1;
    
}
#correo img{
    transform: translateX(10px);
    width: 1.5rem;
    height: 1.5rem;
}
#correo h5{
    font-size: 20px; 
    padding: 0 10%;
    color: #fff;
}
#redes{
    display: flex;
    padding: 0.5% 0;
    background-color: #0F1035;
    align-items: center; /* eje y , Alinea los íconos verticalmente */
    line-height: 1;
    justify-content: space-between;
    vertical-align: middle;
    margin: 0 40%;
    gap: 20%;
    
}
#redes img{
    
    width: 1.5rem;
    height: 1.5rem;
    margin: 0;
    
}

/*HEADER LA PARTE DE ATRAS */

header {
    position: relative; /* Permite ajustar la posición del contenido dentro del header */
    width: 100%;
    height: 100vh;
    background: url("../img/inicio.png") no-repeat center center;
    background-size: cover;
    background-position: center 30%; /* Ajusta el valor según sea necesario */
    margin: 0;
    padding: 0;
}




@media (min-width: 768px) {
    header {
        background-size: cover; /* Cambia a 'cover' en pantallas medianas */
    }
}
/*LA BARRA DE NAVEGACION*/
/* apuntamos a la barra de navegacion que esta dentro de header */
header nav{
    
    /* para colocar un elemento a la par del otro  */
    display: flex;
    /* height: 400px; */
    width: 100%;
    /* para colocar los elementos en algun lugar de la pantalla */
    /* para colocar espacio entre elementos */
    justify-content: space-around;     /* eje x */
    /* para centrar en la pagina */
     align-items: center; /* eje y */
     padding: 0.8% 0;
    background-color: #fff;
    
}
header nav a img{
    align-items: center; /* eje y , Alinea los íconos verticalmente */
    line-height: 1; 
    vertical-align: middle;
}


header ul a{
    color: #0F1035; /* color de texto */
    font-size: 25px; /* tamaño letra */
    margin: 0 14px;
    text-decoration: none; /*sin subrayado */
    vertical-align: middle;
    align-items: center; /* eje y , Alinea los íconos verticalmente */
    line-height: 1;

}
header ul a:hover{
    border-bottom: 2px solid #000; 

}

/*LAS PALABRAS DENTRO DE LA IMAGEN INICIAL*/

#hero{
    position: absolute;
    text-align: left;
    margin: 10%;
    margin-top: 140px;
    
    
}
#hero h2{
    color: #0F1035;
    font-size: 40px;
    margin-top: 3px;
    margin-bottom: 5px;

}
#hero h1{
    color: #ffffff;
    font-size: 70px;
    margin-bottom: 3px;

}
#hero p{
    color: #ffffff;
    font-size: 25px;
    margin-bottom: 5px;
}
#hero button {
    padding: 10px 20px;
    background-color: #ffffff;
    border-radius: 5px;
    color: #0F1035;
    font-weight: bold;
    cursor: pointer;
    margin-top: 5px;
    font-size: 20px;
}
/*MAIN*/

main{
    width: 100%;
    padding: 30px 0;
    background-color: #DCF2F1;
    text-align: center;
}

/*NOSOTROS*/
#Nosotros{
    width: 100%;
    height: 70vh;
    background-color: #DCF2F1;
    background-size: cover;
    align-items: center;
    justify-content: center;
    padding: 0;
    text-align: center;
    margin: 0 ;
}

.contenido{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; /* Para que el diseño se ajuste en pantallas más pequeñas */
}
.imagen{
    flex: 1;
    padding-right: 20px; /* Espacio entre imagen y texto */  
}
.imagen img{
    width: 100%;
    max-width: 400px; /* Limita el ancho máximo de la imagen */
    height: auto; /* Mantiene la relación de aspecto */
    border-radius: 8px; /* Bordes redondeados para la imagen */
}
.parrafo{
    flex: 2;
    text-align: left;/* Alinea el texto a la izquierda */
}
.parrafo p {
    font-size: 10px; /* Ajusta el tamaño de la fuente del párrafo */
    line-height: 1.6; /* Mejora la legibilidad */
}
#Nosotros h2 {
    font-size: 50px;
    margin-bottom: 5px;
    color: #0F1035;
    justify-content: center;
    text-align: center;
}
#Nosotros p {
    font-weight: 500;
    padding: 0 10%;
    margin-top: 10px; 
    font-size: 30px;
    color: #0F1035;
}
#Nosotros  img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    margin-left: 10%;
    margin-top: 50px; 
    
}
@media (max-width: 768px) {
    .contenido {
        flex-direction: column; /* Cambia a diseño de columna en pantallas pequeñas */
        align-items: center;
    }

    .imagen {
        padding-right: 0; /* Elimina el espacio a la derecha en pantallas pequeñas */
        margin-bottom: 20px; /* Espacio debajo de la imagen */
    }

    .parrafo {
        text-align: center; /* Centra el texto en pantallas pequeñas */
    }
}
/*SERVICIOS*/
#Servicios{
    background: url("../img/sevicios.png");
    padding-top: 20px; 
    padding-bottom: 10%;
    background-size: 100% auto; /* Para cubrir toda la pantalla */
    background-position: center center; /* Para centrar la imagen */
}
#Servicios h2{
    font-size: 50px;
    margin-bottom: 20px;

}

#Servicios p{
    font-size: 30px;
    padding-top: 2%;
    font-weight: 500;

}

#Servicios .fila {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    flex-wrap: wrap; /* Para que se ajusten en pantallas pequeñas */
}

#Servicios article {
    margin: 0 40px;
    position: relative;
    width: 300px; /* Ancho fijo para todos los artículos */
    height: 300px; /* Alto fijo para mantener las proporciones */
}

#Servicios article h3 {
    position: absolute;
    z-index: 9;
    top: 110px;
    text-align: center;
    color: #0F1035;
    width: 100%;
    font-weight: 700;
    font-size: 30px;
}
#Servicios article p{
    font-size: 25px;
    padding-top: 5%;
    font-weight: 500;

}

#Servicios article img {
    width: 100%;
    height: 100%; /* Ajusta la imagen al tamaño del contenedor */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    object-fit: cover; /* Ajusta la imagen sin distorsionarla */
}
#Servicios article img.zoom {
    transition: transform 0.3s ease; /* Suaviza la transición del zoom */
}
#Servicios article img.zoom:hover {
    transform: scale(1.1); /* Aumenta el tamaño de la imagen al 110% */
}


/*CITAS*/
#Citas {
    width: 100%;
    height: 80vh;
    background:url("../img/citas.png");
    background-size: cover; /* Usar flexbox para la alineación */
    margin: 0 auto;
}


#Citas h2 {
    font-size: 50px;
    margin-bottom: 5px;
    color: #0F1035;
    align-items: left; /* Alinea verticalmente al centro */
    justify-content: left; /* Alinea horizontalmente al centro */
    padding-left: 5%;
    text-align: left;
    padding-top: 30px;
    
}
#Citas p{
    font-size: 30px;
    padding-top: 2%;
    font-weight: 500;
    text-align: left;
    padding-left: 5%;

}

#Citas form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Cambiado a flex-start para alinear a la izquierda */
    width: 100%;
    padding-left: 5%;
}

#Citas form label {
    margin-top: 20px;
    font-size: 25px;
}

#Citas form input,
#Citas form select {
    margin: 10px 0;
    padding: 20px;
    width: 400px; /* Mantener un ancho fijo para los campos del formulario */
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 20px;
    background-color: #ffffff; /* Color de fondo blanco */
    color: #333333; /* Color de texto oscuro */
}

/* Asegúrate de que este estilo se aplique solo al campo de correo electrónico */
#Citas form input[type="email"] {
    background-color: #ffffff !important; /* Color de fondo blanco para el campo de correo electrónico */
    color: #333333 !important; /* Color de texto oscuro para el campo de correo electrónico */
}

#Citas form button {
    margin-top: 40px;
    margin-left: 7%;
    font-size: 20px;
    margin-bottom: 60px;
    padding: 12px 20px;
    background-color: #365486;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#Citas form button:hover {
    background-color: #365486;
}

/*PRODUCTOS*/
#Productos{
    background: url("../img/productos.png");
    padding-top: 20px;
    background-size: auto; /* Para cubrir toda la pantalla */
    background-position: center center; /* Para centrar la imagen */
}
#Productos h2 {
    
    font-size: 50px;
    margin-top: 50px;
    color: #0F1035;


}
#Productos p{
    font-size: 30px;
    padding-top: 3%;
    font-weight: 600;
    text-align: center;
    padding-bottom: 3%;

}
#Productos img {
    border-radius: 50%; /* Imágenes circulares */
    width: 300px; /* Ajusta según el tamaño que prefieras */
    height: 300px;
    object-fit: cover; /* Ajusta según el tamaño que prefieras */
    transition: filter 0.4s ease, transform 0.4s ease-in-out; /* Suaviza la transición del filtro y zoom */
}
#Productos img:hover {
    filter: brightness(50%); /* Reduce el brillo al 50% para oscurecer la imagen */
    transform: scale(1.05); /* Opción de hacer un pequeño zoom mientras se oscurece */
}

#Productos .fila {
    display: flex;
    justify-content: center; /* Centra los artículos horizontalmente */
    align-items: center; /* Alinea los artículos verticalmente */
    flex-wrap: wrap; /* Permite que las imágenes se envuelvan a una nueva línea si es necesario */
    gap: 400px; /* Espaciado uniforme entre artículos */
    margin-top: 30px;
}

#Productos article {
    flex: 0 1 300px; /* Los artículos tendrán un ancho mínimo de 300px y se adaptarán según sea necesario */
    position: relative;
    text-align: center;
    margin-bottom: 60px;
}

#Productos article h3 {
    margin-top: 20px;
    color: #ffffff;
    font-size: 30px;
}


/* Estilo para Contacto */
#Contacto {
    padding-top: 50px;
    width: 100%;
    height: auto; /* Deja que la altura sea automática en función del contenido */
    text-align: center;
    padding: 100px 50px;
    background: #7FC7D9;
    margin: 0 auto;
    padding-bottom: 50px; /* Añade un poco de espacio al final */
    border-bottom: none;
}

#Contacto h2 {
    font-size: 60px; /* Aumenta el tamaño del título */
    margin-top: 20px;
    margin-bottom: 40px;
}

#Contacto p {
    font-size: 30px;
    padding-top: 0.1%;
    font-weight: 600;
    text-align: center;
    padding-bottom: 3%;
}

#Contacto form {
    width: 70%; /* Ajusta el ancho del formulario según sea necesario */
    margin: 0 auto;
    background: transparent;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en varias líneas */
    gap: 20px; /* Espacio entre las columnas y filas */
    justify-content: center;
}

#Contacto input, 
#Contacto select {
    width: calc(50% - 20px); /* Calcula el ancho de los campos en base al ancho del formulario */
    padding: 20px 30px;
    font-size: 24px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

#Contacto button {
    width: 100%; /* Asegura que el botón ocupe todo el ancho disponible */
    font-size: 24px;
    padding: 15px 30px;
    background-color: #365486;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px; /* Espacio arriba del botón */
}

#Contacto button:hover {
    background-color: #006666;
}



/* Footer */
footer {
    background-color: #0F1035;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 25px;
}





